<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs')%>
        <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs')%>

        <div class="container">

            <div class="main">
                <div class="details">
                    <h1 class="mb-5">Детали блога</h1>
                    <img src="<%=blog.image%>" alt="" class="mb-3">
                    <h2 class="text-start mb-2">
                        <%=blog.name%>
                    </h2>
                    <h4 class="text-start mb-2">
                        <%=blog.category.name%>
                    </h4>
                    <p class="text-start">
                        <%=blog.description%>
                    </p>
                    <div class="comments">
                        <h3>Комментарий</h3>
                        <% if (user && user._id){%>
                        <form onSubmit="sendComment(event)" class="add-comment-form">
                            <textarea id="comment-text"></textarea>
                            <input type="hidden" value="<%=user._id%>" id="comment_author">
                            <input type="hidden" value="<%=blog._id%>" id="comment_blog">
                            <button type="submit">Сохранить</button>
                        </form>
                        <%} else {%>
                            <p>
                                <a href="/login">Войдите</a>
                                или
                                <a href="/register">зарегистрируйтесь</a>,
                                чтобы оставить комментарий
                            </p>
                            <%}%>
                    </div>
                </div>

            </div>

        </div>
        <%- include('partials/scripts.ejs')%>
</body>

</html>