<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs')%>
        <title>Decode Blog</title>
</head>

<body>
    <%- include('partials/header.ejs')%>
        <div class="main">
            <div class="news d-flex justify-content-center">
                <div class="blogs bg-white">
                    <h2 class="text-center mb-4">Блоги по программированию</h2>
                    <p class="text-center main-par mb-5">
                        Популярные и лучшие публикации по программированию для начинающих
                        и профессиональных программистов и IT-специалистов.
                    </p>

                    <% blogs.forEach(item=>{
                        %>
                        <div class="article text-center">
                            <a href="/detail/<%=item._id%>">
                                <img src="<%=item.image%>" alt="" class="mb-5">
                            </a>

                            <a href="/detail/<%=item._id%>">
                                <h2 class="text-start mb-2">
                                    <%=item.name%>
                                </h2>
                            </a>
                            <a href="/detail/<%=item._id%>">
                                <h4 class="text-start mb-2">Категория: <%=item.category.name%>
                                </h4>
                            </a>

                            <p class="text-start">
                                <%=item.description%>
                            </p>
                            <div class="details-2 d-flex justify-content-between mt-3 mb-5">
                                <div>
                                    <i class="fa-regular fa-calendar me-2" style="color: #9c9ea2;"></i>
                                    <i id="search">26.06.2020</i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-eye me-2" style="color: #9c9ea2;"></i>
                                    <i id="search">21</i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-comment me-2" style="color: #9c9ea2;"></i>
                                    <i id="search">4</i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-comments me-2" style="color: #9c9ea2;"></i>
                                    <i id="search">Веб-разработка</i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-user me-2" style="color: #9c9ea2;"></i>
                                    <i id="search">
                                        <%=item.author.full_name%>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <div class="pages">
                                <% for(let i=0;i < pages;i++){ %>
                                    <a href="?page=<%=i%>">
                                        <%=i+1%>
                                    </a>
                                    <% } %>
                            </div>
                </div>
                <div class="categories bg-white shadow p-3 mb-5 bg-white rounded pb-4">
                    <h2 class="mb-4 mt-4">Категории</h2>
                    <div id="nav-links">
                        <% categories.forEach(category=>{
                            %>
                            <a href="?categ=<%= category.key%>">
                                <%=category.name%>
                            </a>
                            <% })%>
                    </div>
                </div>
            </div>

        </div>



</body>

</html>